@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Root>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="">
    <meta name="author" content="">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@8.12/dist/video-js.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@2.0.0/dist/videojs-hls-quality-selector.min.css">

    
    <link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
    <style>
        .header {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .section--header {
            min-height: 0 !important;
            padding-top: 60px !important;
        }

        .video-js {
            magrin-bottom: 100px;
        }

        .vjs-resolution-button {
            position: relative;
        }

        .vjs-resolution-button .vjs-menu {
            display: none;
            position: absolute;
            bottom: 20px;
            left: 0;
            background: #000;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            z-index: 1000;
        }

        .vjs-resolution-button:hover .vjs-menu {
            display: block;
        }

        .vjs-resolution-button .vjs-icon-placeholder:before {
            content: '\f114';
            font-family: VideoJS;
            font-weight: 400;
            font-style: normal;
            font-size: 1.8em;
            line-height: 1.67em;
        }

        .vjs-menu-item {
            cursor: pointer;
            padding: 5px;
        }

        .vjs-menu-item:hover {
            background-color: #444;
        }

        .vjs-menu-item.selected {
            background-color: #007bff;
            color: #fff;
        }
    </style>
    @RenderSection("Header", required: false)
</head>

<body>


    <header class="header">

        <div class="mobile-nav-handler">
            <div class="hamburger lines" id="toggle-nav">
                <span></span>
            </div>
        </div>

    </header>

    <main>
        @RenderBody()
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>	
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

   <script src="https://cdn.jsdelivr.net/npm/video.js@8.12/dist/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@2.0.0/dist/videojs-hls-quality-selector.min.js"></script>
    <script src="@Url.Content("~/scripts/umbraco-starterkit-app.js")"></script>
    @RenderSection("Scripts", false/*required*/)
</body>

</html>